*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

main{
    width: 100vw;
    height: 100vh;  
}
.pag-cadastro{
    width: 100%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form{
    width: 60%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(173, 173, 173);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px ; 
}

.header{
    height: 10%;
    width: 100%;  
    background-color: rgb(204, 68, 68); 
}

.logo-nav{
    height: 80%;
    border-radius: 50px;
    margin-left: 50%;
    margin-top: 50px;
   
}

.div-ul{
    margin-left: 47%;
    width: 10%;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

.titulo-pag{
    color: black;
    display: flex;
    align-items: center;
    margin-top: 5px;
    background-color: blanchedalmond;
}

.div-ul a {
    text-decoration: none; 
    color: rgb(112, 112, 112);  
           
  }

.formulario{
    margin-top: 150px;
    margin-left: 50px;
    height: 100%;
    width: 30%; 
}

.formulario .inputs{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    justify-content: center;
}


.titulo-cadastro{
    font-size: 30px;
    font-weight: 100; 
    display: flex;  
    display: inline-block; /* Para o traço acompanhar o tamanho do texto */
    border-bottom: 2px solid rgb(175, 54, 54); /* Linha embaixo */
    
    
}

.label-form{
    margin-bottom: 5px;
    margin-left: 2px;
}

.container-form img {
    width: 70%;
    height: 100%;
    border-radius: 1%;
    
  }

input{
    padding: 5px;
    border-radius: 6px;
    padding: 5px; 
    border:none;
    
}

.formulario button{
    width: 40%;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(175, 54, 54);
    padding: 10px;
    color: aliceblue;
    border: none ;
    
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4%;
    color: rgba(206, 206, 206, 0.5); 
}





