<div class="container p-5 ">
    <div class="row p-5">
        <div class="col p-5">
            <form method="POST" action="" class="border mt-5 p-5" >
                {{ post_form.csrf_token }}
                <legend>Criar Post</legend>
                <fieldset>
                    <div class="form-group">
                        {{ post_form.titulo.label(class="form-control-label")}}
                        {% if post_form.titulo.errors %}
                            {{ post_form.titulo(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in post_form.titulo.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ post_form.titulo(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ post_form.corpo.label(class="form-control-label")}}
                        {% if post_form.corpo.errors %}
                            {{ post_form.corpo(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for erro in post_form.corpo.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ post_form.corpo(class="form-control") }}
                        {% endif %}
                    </div>
                </fieldset>
                {{ post_form.enviar_post(class="btn btn-primary mt-3") }}
            </form>
        </div>
    </div>
</div>