<div class="container mt-3 d-flex justify-content-center" >
    <div class="card p-2" style=" width: max-content">
        <div class="d-flex align-items-center ">

            <div class="image pe-2 ">
                <img src="{{ url_for('static', filename='imageprofile/' + current_user.foto_perfil) }}" alt="Foto de perfil" class="rounded-circle" style="width: 180px; height: 180px; object-fit: cover;">
            </div>

            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">{{ current_user.username }}</h4>
                <span>{{  current_user.email }}</span>

                <div class="p-2 mt-2 bg-primary d-flex justify-content-around rounded text-white stats">
                    <div class="d-flex flex-column" style="text-align: center">
                        <span class="rating">cursos</span>
                        {% if 'Não informado' in current_user.cursos or current_user.cursos == ''%}
                            <span class="number3">0</span>
                        {% else %}
                            <span class="number3">{{ current_user.cursos.count(";") + 1 }}</span>
                        {% endif %}
                    </div>

                    <div class="d-flex flex-column" style="text-align: center">
                        <span class="rating">Posts</span>
                        <span class="number3">0</span>
                    </div>
                </div>

                <div class="button mt-2 d-flex flex-row align-items-center">
                    <a href="{{ url_for('editar_perfil') }}" class="w-100"><button class="btn btn-sm btn-outline-primary w-100">editar perfil</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container justify-content-center" style="width: max-content">
  <div class="row   justify-content-center" >
    <div class="col w-100 text-center" >
      {% if current_user.cursos and "Não informado" not in current_user.cursos %}
        <strong class="text-black">Cursos</strong><br>
        <div class="container mt-3">
          <div class="row">
            {% set cursos = current_user.cursos.split(";") %}
            {% for i in range(cursos|length) %}
              <div class="col-6 mb-2">
                <button type="button" class="btn btn-perfil btn-success " disabled>
                  {{ cursos[i] }}
                </button>
              </div>
              {% if i % 2 == 1 and not loop.last %}
                </div><div class="row">
              {% endif %}
            {% endfor %}
          </div>
        </div>

      {% endif %}
    </div>
  </div>
</div>