<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">Meu site flask</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if not current_user.is_authenticated %}
            <ul class="navbar-nav ms-auto">
                <li><a class="navbar-brand" style="font-size: 20px" href="{{ url_for('login') }}">Login</a></li>
                <li><a class="navbar-brand" style="font-size: 20px" href="{{ url_for('cadastro') }}">Cadastro</a></li>
            </ul>
        {% else %}
            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ url_for('static', filename='imageprofile/' + current_user.foto_perfil) }}" alt="Foto de perfil" class="rounded-circle" style="width: 40px; height: 40px; object-fit: cover;">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ url_for('home') }}">Home</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('perfil') }}">Perfil</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('criar_post') }}">Criar post</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('usuarios') }}">Usuarios</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('cadastro') }}">Cadastro</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('sair') }}">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>
</nav>