{% extends 'paginas/base.html' %}



{% block body %}
    <div class="container mt-3">
        <h2>Meu Primeiro site Flask</h2>
        <hr>
        {% for post in posts %}
            <div class="row border mt-4 p-3 meupost d-flex align-items-start flex-nowrap" style="gap: 1rem;">
                <div style="flex: 0 0 200px;">
                    <img src="{{ url_for('static', filename='imageprofile/' + post.autor_post.foto_perfil) }}"
                         class="rounded" style="width: 210px; height: 200px; object-fit: cover;">
                    <strong class="d-block text-center mt-2">{{ post.autor_post.username }}</strong>
                    {% if current_user.cursos and "Não informado" not in current_user.cursos %}
                        {% for curso in post.autor_post.cursos.split(";") %}
                            <button type="button" class="btn btn-success mt-2" style="width:210px"  disabled>{{ curso }}</button>
                        {% endfor %}
                    {% endif %}
                </div>

                <div style="flex: 1;">
                    <a style="text-decoration: none" href="{{ url_for("exibir_post", post_id=post.id) }}"><h4>{{ post.titulo }}</h4></a>
                    <p>{{ post.corpo }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}






