{% extends 'paginas/base.html' %}



{% block body %}

    <div class=" container mt-3 mb-4 d-flex flex-column">
        <h1>Usuarios</h1>
        {% for usuario in lista%}
            <div class="card mt-5 w-50" >
                <div class="d-flex w-75" >
                    <div class="image pe-2 ">
                        <img src="{{ url_for('static', filename='imageprofile/' + usuario.foto_perfil) }}" alt="Foto de perfil" class="rounded" style="width: 200px; height: 200px; object-fit: cover;">
                    </div>
    
                    <div class="ml-3 w-100 ms-2">
                        <h3 class="mb-0 mt-0">{{ usuario.username }}</h3>
                        <p>{{  usuario.email }}</p>
    
                        <div class="p-2 mt-2 bg-primary d-flex justify-content-around rounded text-white stats w-100">
                            <div class="d-flex flex-column" style="text-align: center">
                                <span class="rating">cursos</span>
                                {% if 'Não informado' in usuario.cursos or usuario.cursos == ''%}
                                    <span class="number3">0</span>
                                {% else %}
                                    <span class="number3">{{ usuario.cursos.count(";") + 1 }}</span>
                                {% endif %}
                            </div>
    
                            <div class="d-flex flex-column" style="text-align: center">
                                <span class="rating">Posts</span>
                                <span class="number3">{{ usuario.contar_posts() }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" style="width: max-content" >
    
            {% if usuario.cursos and "Não informado" not in usuario.cursos %}
                
                {% for curso in usuario.cursos.split(";") %}
                    <button type="button" class="btn btn-perfil btn-success mt-2 w-100"  disabled>{{ curso }} </button>
                {% endfor %}
            {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}









